<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pagina principal do meu site</title>
<script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous">
  </script>
  
  <script type="text/javascript" src="/javascript/categoria.js"></script>
  
</head>
<body>
<h1>Essa é a home do nosso projeto.</h1>

Links:
<ul>
	<li><a href="/login">Login</a></li>
	<li><a href="/categorias">Categorias</a></li>
</ul>

</body>
</html>